:root {
  --backgraund-first-color: #2f303a;
  --background-second-color: #f5f4fa;
  --white-color: #ffffff;
  --fist-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--fist-text-color);
  background: var(--white-color);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.text {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
}

/*----HEADER---- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-wrap,
.nav,
.advant-list,
.about-list,
.team-list {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.nav-logo {
  margin-right: 93px;
}
.logo-header {
  color: var(--fist-text-color);
}
.nav-link.current,
.nav-link:hover,
.nav-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-link-contact:hover,
.footer-link-contact:focus {
  color: var(--accent-color);
}
.nav-list {
  color: var(--fist-text-color);
  display: flex;
  align-items: center;
}
.nav-item + .nav-item,
.header-item {
  margin-left: 50px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.15;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: currentColor;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list {
  color: var(--second-text-color);
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* ----HERO---- */
.hero {
  background: var(--backgraund-first-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/headerimg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
}

/* ----ADVANT---- */
.advant-item:not(:last-child),
.about-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}
.advant-item {
  flex-basis: calc((100% - 120px) / 4);
}
.advant-subtitle {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--fist-text-color);
  margin-bottom: 10px;
}
.advant-text {
  color: var(--second-text-color);
}

/* ----ABOUT---- */
.about-section {
  padding-top: 0;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--fist-text-color);
  margin-bottom: 50px;
}
.about-item {
  flex-basis: calc((100% - 90px) / 3);
}

/* ----TEAM---- */
.team {
  background-color: var(--background-second-color);
}
.team-item {
  background: var(--white-color);
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--fist-text-color);
  margin-bottom: 10px;
}
.team-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}
/* ----FOOTER---- */
.footer {
  background-color: var(--backgraund-first-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.logo-footer,
.footer-link {
  color: var(--white-color);
  font-style: normal;
}
.footer-link,
.footer-link-contact {
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-contact {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ----PORTFOLIO---- */
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--fist-text-color);
  background-color: var(--background-second-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* ----GALLERY---- */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.gallery-item {
  margin-top: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.gallery-item-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--fist-text-color);
  margin-bottom: 4px;
}
.gallery-desc {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
}
